.custom-width {
    max-width: 300px;
}

#category_input {
    max-width: 300px;
}

.upload-container {

    max-width: 75%;
}

.custom-file {
    max-width: 250px;
    height: 32px;
    overflow: hidden;
}

.custom-file-input:focus~.custom-file-label {
    border-color: #80bdff;
    box-shadow: none;
}

.custom-file-label {
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    padding-right: 10px;
}

.custom-file-label::after {
    content: "";
}

/* Light mode */
body.light-mode {
    background-color: #fff;
    color: #333;
}

/* Dark mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

.custom-switch {
    /* adjust these values as necessary */
    margin-top: 1px;
    margin-bottom: 1px;
}